.rendu
{
  color:green;
}

.nonRendu {
  color:red;
  border: 2px dashed orange;
  background-color:lightgrey;
}

.container {
  display: flex;
  flex-direction: column;
}

.ajouterBtn {
  margin-top: 30px;
  align-self: flex-end;
}
