<form ngForm #assignmentForm class="form" (submit)="onSubmit(); assignmentForm.reset()">
  <mat-form-field>
    <input matInput placeholder="Nom de l'assignment" [(ngModel)]="nomAssignment" name="nom">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Date rendu</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRenduAssignment" name="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-stroked-button color="primary">
    Ajouter un devoir
  </button>
</form>

