<section class="about-section pt-80 pb-50"
>
  <div class="container">
      <div class="row">
          <div class="col-lg-6 mb-30">
              <div class="about-content">
                  <h2 class="title mb-20">Bienvenue sur  StudenApp</h2>
                  <p class="mb-20">
                    L’intérêt des outils numérique réside tout d’abord dans la simplicité du suivi des comportements et dans l’automatisation des rappels. En ayant votre liste de choses à faire accessible sur tous vos appareils, vous serez toujours en mesure de suivre votre progression.
                  </p>

                  <p class="mb-20">
                    STUDENAPP est une plateforme de gestion des devoirs ou une liste de tâches à réaliser.
                    Ces tâches peuvent être indépendantes les unes des autres et concerner la vie quotidienne.
                    Elles sont aussi appréciées dans la logique de gestion d'un projet, marketing ou informatique par exemple
                  </p>
                  <p class="mb-20">
                      Tres utile pour les etudiants,les élèves et meme pour les professeurs.
                      Cette plateforme vous permettra de gerer vos mieux gerer votre temps et de mieux vous organiser.
                  </p>
                  <p class="mb-20">
                    Développer par deux ingénieurs en MOOBIQUITÉ,BIG DATA et SYSTEME à savoir KPARO YEDO MAXIMILIEN et DIABAGATÉ KALIFA
                  </p>
              </div>
          </div>
          <div class="col-lg-6 mb-30">
              <div class="about-left-image mb-30">
                  <img src="assets/img/pexels-pixabay-159711.jpg" alt="img" class="img-responsive">
              </div>
          </div>
      </div>
  </div>
</section>
